#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
 .wpap {
	width: 500px;
	background-color: #362964;
	margin: 100px auto;
	height: 600px;
	border-radius: 19px;
	border: 2px solid #100033;
	border-bottom-width: 10px;
	box-shadow: 0 4px 7px 2px #71066a;
	display: flex;
	flex-direction: column;
}
.display {
	width: 92%;
	height: 80px;
	background-color: #294064;
	box-shadow: inset 0 -2px 5px 1px #296464;
	border-radius: 6px;
	margin: 15px auto;
	padding: 2%;
}
.result {
	color: #00dcff;
	text-align: right;
	font-size: 33px;
	line-height: 20px;
	margin-bottom: 8px;
}
.display input {
	width: 98.5%;
	text-align: right;
	font-size: 16px;
	color: #0bf0d0;
	background-color: transparent;
	border: 0;
}
.display input.main {
	font-family: "Kode Mono", monospace;
	font-size: 45px;
}
.buttonpart {
	background-color: #2b214f;
	margin: 0 auto;
	width: 90%;
	box-shadow: inset 0-6px 3px 1px #251e3c;
	border: 1px solid #000;
	border-bottom-width: 5px;
	border-radius: 10px;
	padding: 2%;
	display: flex;
	flex-wrap: wrap;
	flex-grow: 0.9;
}
    

.topbtn {
  background-color: #fff;
  height: 5px;
  flex: 1 0 100%;
}
.numpart, .markpart {
	width: 94%;
	padding: 3%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 12px;
}
.numpart > button, .markpart > div {
  font-size: 43px;
  color: #fff;
  width: 21%;
  box-shadow: 0 0 7px 2px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.markpart {
	width: auto;
	flex: 1;
	align-items: flex-start;
	padding-top: 22px;
}
.markpart > div {
	width: 40%;
	font-size: 27px;
}
.markpart > div.result { font-size: 47px; font-weight: bolder; }
.press{  box-shadow: inset 0 0 1px 1px #000 !important; }
.result{ flex:1 0 100%}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
